
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.card-container{
    background:rgba(0, 255, 255, 0.403);
    border:1px solid black;
    border-radius:20px;
    overflow:hidden;
    cursor:default;
    transition: .5s all;
}

.card-container:nth-of-type(odd):hover{
    rotate: 3deg;
    box-shadow: 15px 10px 0 black;
}
.card-container:nth-of-type(even):hover {
    rotate: -3deg;
    box-shadow: -15px 10px 0 black;
}

.img-header{
    width:70%;
    text-align: center;
    filter: drop-shadow(30px 15px 5px rgba(255, 0, 0, 0.5));
    margin:0 auto;
    padding:10px;
}

.img-header img{
    width:100%;
    padding:15px;
    
}

.card-body{
    display:flex;
    border-top:1px solid black;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 15px;
    gap:10px;
    background:white;
    backdrop-filter: blur(5px);
    h1{
        font-size:25px;
    }
    p{
        font-size:20px;
    }
    button{
        padding:5px 20px;
        border-radius:30px;
        display:flex;
        justify-content:center;
        align-items: center;
        cursor:pointer;
        background:rgba(0, 255, 255, 0.403);
        border:1px solid rgba(0, 255, 255, 0.403);
        transition:.5s all;
    }
}

.card-body button:hover{
    background:black;
    color:white;
    border:1px solid black;
}